<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>KJ&J Motors - Avaliações</title>
  <link rel="icon" type="image/x-icon" href="" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="css/style3.css">
</head>

<body>

  <header>
    <img src="img/KJ & J_20250826_210028_0000.png" alt="">
    <a href="/">inicio</a>
    <a href="/veiculos">Veículos</a>
    <a href="/sobrenos">Sobre Nós</a>
    <a href="/avaliacoes">Avaliações</a>
  </header>

  <section>
    <div class="form-container">
      <form id="cadastroForm">
        <div>
          <label for="nome">Nome:</label><br>
          <input type="text" id="nome" name="nome" required placeholder="Informe seu nome completo" />
        </div>
        <div>
          <label for="email">E-mail:</label><br>
          <input type="email" id="email" name="email" required placeholder="Digite seu E-mail" />
        </div>
        <div>
          <label for="mensagem">Mensagem:</label><br>
          <textarea id="mensagem" name="mensagem" required></textarea>
        </div>

        <button class="btnsbt" type="submit">Enviar</button>
      </form>
    </div>
  </section>

  <footer>
    &copy;2025 KJ&J Motors
  </footer>
</body>

</html>