<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KJ&J Motors - HOME</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style3.css">
</head>

<body>

    <header>
        <img src="img/KJ & J_20250826_210028_0000.png" alt="">
        <a href="/">inicio</a>
        <a href="/veiculos">Veículos</a>
        <a href="/sobrenos">Sobre Nós</a>
        <a href="/avaliacoes">Avaliações</a>
    </header>

    <section>
        <h2>Mais alugados</h2>
        <div class="container">
            <div class="card">
                <img src="img/mobi.png" alt="">
                <h3>Modelo:Mobi</h3>
                <h4>Marca:Fiat</h4>
                <h4>Ano:2023</h4>
                <h4>Desc:Carro novo</h4>
            </div>
            <div class="card">
                <img src="img/mobi.png" alt="">
                <h3>Modelo:Mobi</h3>
                <h4>Marca:Fiat</h4>
                <h4>Ano:2023</h4>
                <h4>Desc:Carro novo</h4>
            </div>
            <div class="card">
                <img src="img/mobi.png" alt="">
                <h3>Modelo:Mobi</h3>
                <h4>Marca:Fiat</h4>
                <h4>Ano:2023</h4>
                <h4>Desc:Carro novo</h4>
            </div>
            <div class="card">
                <img src="img/mobi.png" alt="">
                <h3>Modelo:Mobi</h3>
                <h4>Marca:Fiat</h4>
                <h4>Ano:2023</h4>
                <h4>Desc:Carro novo</h4>
            </div>
            <div class="card">
                <img src="img/mobi.png" alt="">
                <h3>Modelo:Mobi</h3>
                <h4>Marca:Fiat</h4>
                <h4>Ano:2023</h4>
                <h4>Desc:Carro novo</h4>
            </div>
            <div class="card">
                <img src="img/mobi.png" alt="">
                <h3>Modelo:Mobi</h3>
                <h4>Marca:Fiat</h4>
                <h4>Ano:2023</h4>
                <h4>Desc:Carro novo</h4>
            </div>
            <div class="card">
                <img src="img/mobi.png" alt="">
                <h3>Modelo:Mobi</h3>
                <h4>Marca:Fiat</h4>
                <h4>Ano:2023</h4>
                <h4>Desc:Carro novo</h4>
            </div>
            <div class="card">
                <img src="img/mobi.png" alt="">
                <h3>Modelo:Mobi</h3>
                <h4>Marca:Fiat</h4>
                <h4>Ano:2023</h4>
                <h4>Desc:Carro novo</h4>
            </div>
            <div class="card">
                <img src="img/mobi.png" alt="">
                <h3>Modelo:Mobi</h3>
                <h4>Marca:Fiat</h4>
                <h4>Ano:2023</h4>
                <h4>Desc:Carro novo</h4>
            </div>
        </div>
    </section>

    <footer>
        &copy;2025 KJ&J Motors
    </footer>
</body>

</html>