<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KJ&J Motors - HOME</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="css/style3.css">
</head>

<body>

    <header>
        <img src="img/KJ & J_20250826_210028_0000.png" alt="">
        <a href="/">inicio</a>
        <a href="/veiculos">Veículos</a>
        <a href="/sobrenos">Sobre Nós</a>
        <a href="/avaliacoes">Avaliações</a>
    </header>

    <section>
        <h2>Sobre nós</h2>
        <div class="container">
            <p>Bem-vindo à KJ&J Motors, onde mobilidade, conforto e confiança andam lado a lado. Fundada com o propósito
                de oferecer soluções práticas e acessíveis para quem precisa se locomover com liberdade, a KJ&J se
                orgulha de atender clientes com excelência, segurança e transparência.

                Ao longo dos anos, construímos uma reputação sólida no mercado de aluguel de veículos, oferecendo uma
                frota moderna, diversificada e constantemente revisada. Trabalhamos com carros de passeio, utilitários,
                SUVs e opções econômicas, sempre prontos para atender às suas necessidades — seja para viagens a
                trabalho, lazer ou emergências do dia a dia.</p>
            <img src="img/photo_2025-08-26_21-33-06.jpg" alt="fachada da loja">
        </div>
        <h2>Nosso Compromisso</h2>
        <div class="container">
            <img src="img/photo_2025-08-26_22-01-02.jpg" alt="equipe">
            <p>Na KJ&J, acreditamos que alugar um carro deve ser simples, rápido e sem complicações. Por isso,
                oferecemos:<br>
                ✔Atendimento humanizado e ágil<br>
                ✔Planos flexíveis para curtos ou longos períodos<br>
                ✔Preços justos e competitivos<br>
                ✔Veículos limpos, seguros e com manutenção em dia<br>
                ✔Suporte ao cliente 24 horas</p>
        </div>
        <h2>Nossa Missão</h2>
        <p>Proporcionar liberdade de movimento com segurança, qualidade e praticidade, superando as expectativas dos
            nossos clientes.</p>
        <h2>Nossa Visão</h2>
        <p>Ser referência regional em locação de veículos, reconhecida pela excelência no atendimento e confiabilidade
            dos nossos serviços.</p>
        <h2>Nossos Valores</h2>
        <ul>
            <li>Compromisso com o cliente</li>
            <li>Ética e transparência</li>
            <li>Inovação constante</li>
            <li>Qualidade e segurança</li>
            <li>Respeito e responsabilidade</li>
        </ul>
    </section>

    <footer>
        &copy;2025 KJ&J Motors
    </footer>
</body>

</html>